@font-face { font-family: metropolis; src: url("./Metropolis-Regular.otf") format("opentype"); }

:root {
  --theme-color: #32C33B;
  --black1: #000000;
  --black2: #222222;
  --grey1: #9B9B9B;
  --grey2: #D4D4D4;
  --white1: #FFFFFF;
  --white2: #F9F9F9;
}
/* background-color: var(--theme-color); */
.theme-color { color: var(--theme-color);}
.black1 { color: var(--black1);}
.black2 { color: var(--black2);}
.grey1 { color: var(--grey1);}
.grey2 { color: var(--grey2);}
.white1 { color: var(--white1);}
.white2 { color: var(--white2);}

html,
body {
  padding: 0;
  margin: 0;
  font-family: metropolis;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: var(--white2);
  }
  body {
    color: var(--black1);
    /* background: var(--theme-color); */
  }
}


/* font: metropolis
#32C33B color-green
#DB3022 color-red
#273AC7 color-blue
#F01F0E red? 1
#2AA952 green? 1
#1A1A1A product-color-1
#D84242 product-color-2
#4290D8 product-color-3
#42D86C product-color-4
#B82222 filter-color-4
#BEA9A9 filter-color-4
#E2BB8D filter-color-4
#151867 filter-color-4
#FFBA49 star-color
#456BF3 profle-color-1
#F36F45 profle-color-2
#F3456F profle-color-3
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
