.container {
  padding: 0 4rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white2);
  color: var(--black1);
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 40px 0;
  /* background: var(--white2);
  color: var(--black1); */

  /* border: 0.5px solid red; */
}

.title {
  font-size: 34px;
  font-weight: bold;
}

.desc {
  font-size: 12px;
  color: var(--grey2);
  margin-bottom: 10px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card {
  width: 19.4%;
  cursor: pointer;
  border: 0.5px solid #eaeaea;
  border-radius: 10px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0); */
  text-align: left;
  /* margin: 5px; */
  /* margin-right: 10px; */
  /* color: inherit; */
  /* transition: color 0.15s ease, border-color 0.15s ease; */
}

.card_body {
  width: 100%;
  margin: 5px;
}

.card_imageProduct {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card_title {
  font-size: 16px;
  font-weight: bold;
}

.card_price {
  font-size: 16px;
  color: #F01F0E;
  font-weight: bold;
}

.card_brand {
  font-size: 14px;
  color: var(--grey1);
}

.card_star {
  line-height: 0 !important;
  font-size: 0.8rem;
  color: gold;
}
.card_starPoint {
  font-size: 0.7rem;
}


.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.imgTheme{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgCategory{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
