.container {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 4rem;
}
.justifyLeft {
  display: flex;
  align-items: center;
}
.justifyRight {
  display: flex;
  align-items: center;
}

.logoBrandToHome {
  display: flex;
  cursor: pointer;
}

.logo{
  height: 18px;
  /* padding-right: 8px; */
}
.brand{
  font-size: 14px;
  color: var(--theme-color);
  padding-top: 4px;
  padding-right: 20px;
  padding-left: 6px;
  font-weight: bold;
}

.searchBar{
  border-radius: 10px;
  border: 1px solid var(--grey2);
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.searchInput{
  border-radius: 10px;
  border-color: transparent;
  font-size: 10px;
  padding: 2px 0px 0px 8px;
  width: 400px;
}
.searchInput:focus{
  outline: transparent;
}

.icon{
  cursor: pointer;
  font-size: 12px;
  padding-right: 24px;
  color: var(--grey1);
}
.iconSearch{
  cursor: pointer;
  font-size: 10px;
  padding-right: 10px;
  color: var(--grey1);
}
.funnelIcon{
  cursor: pointer;
  font-size: 10px;
  color: var(--grey1);
  border: 1px solid var(--grey2);
  border-radius: 5px;
  padding: 3px 4px 0 4px;
  margin: 3px;
}

.button{
  font-size: 8px;
  text-align: center;
  width: 60px;
  /* padding: 2px 12px; */
  /* border-radius: 8px; */
  /* border: 1px solid red; */
  margin-left: 8px;
}
.login{
  color: var(--white1);
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding: 4px 12px 2px 12px;
  border-radius: 18px;
}
.signup{
  color: var(--grey1);
  background: var(--white1);
  border: 1px solid var(--grey1);
  padding: 4px 12px 2px 12px;
  border-radius: 18px;
}
