.container {
  padding: 0 4rem;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.categoryClass{
  font-size: 14px;
  color: var(--grey1);
  font-weight: bold;
  margin: 26px 0;
}

.rounded {
  border-radius: 0.5rem;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.h3 {
  font-size: 16px;
  color: var(--black1);
  font-weight: bold;
}
.h3red {
  font-size: 16px;
  color: #F01F0E;
  font-weight: bold;
}
.h4Black {
  font-size: 16px;
  color: var(--black1);
  font-weight: bold;
}
.h4Grey {
  font-size: 16px;
  color: var(--grey1);
  font-weight: bold;
}
.desc {
  font-size: 12px;
  color: var(--grey1);
}
.logoStar {
  line-height: 0 !important;
  font-size: 1rem;
  color: gold;
  margin-right: 4px;
}

.productColorGroup{ display: flex; }
.productColor1{ background: #1A1A1A; width: 35px; height: 35px; border-radius: 50%; margin-right: 1rem;}
.productColor2{ background: #D84242; width: 35px; height: 35px; border-radius: 50%; margin-right: 1rem;}
.productColor3{ background: #4290D8; width: 35px; height: 35px; border-radius: 50%; margin-right: 1rem;}
.productColor4{ background: #42D86C; width: 35px; height: 35px; border-radius: 50%; margin-right: 1rem;}

.button{
  font-size: 10px;
  text-align: center;
  width: 100%;
  /* padding: 8px auto; */
  /* border-radius: 8px; */
  /* border: 1px solid red; */
  /* margin-left: 8px; */
}
.buttonCol3{
  color: var(--grey1);
  background: var(--white1);
  border: 1px solid var(--grey1);
  padding: 10px 12px 8px 12px;
  border-radius: 18px;
}
.buttonCol6{
  color: var(--white1);
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding: 10px 12px 8px 12px;
  border-radius: 18px;
}

.rating{ 
  display: flex; 
  align-items: center;
  margin-bottom: 6px;
}
.ratingValue{ 
  color: var(--grey1); 
  font-size: 12px;
  width: 10px; 
  margin-left: 4px;
}
.ratingBar5{ background: #F01F0E; width: 100px; height: 5px; border-radius: 3px; margin-left: 5px; margin-right: 5px;}
.ratingBar4{ background: #F01F0E; width: 80px; height: 5px; border-radius: 3px; margin-left: 5px; margin-right: 25px;}
.ratingBar2{ background: #F01F0E; width: 40px; height: 5px; border-radius: 3px; margin-left: 5px; margin-right: 65px;}
.ratingBar0{ background: transparent; width: 100px; height: 5px; border-radius: 3px; margin-left: 5px; margin-right: 5px;}

.other {
  font-size: 40px;
  font-weight: bold;
}
